html, body{
margin:0px;
padding:0px;
}
body{
background-size:100%;
background-color: black;
}

/* Style Entete */

.entete{
width:1024px;
height:120px;
margin-left:auto;
margin-right:auto;
margin-top:-110px;
}

.entete_fake{
width:100%;
height:90px;
background-color:rgb(149, 149, 149,0.6);
margin-top:0px;
}

.ertlogo_entete{
width:100px; 
height:65px; 
padding-left:10px; 
padding-top:30px;
}

.bouton_entete{
height:25px;
}

a{/* pas de texte surligné en bleu */ 
text-decoration:none;
}

.text_bouton{
	font-family:helvetica;
	font-size:15px;
	padding-left:5px;
	padding-top:3px;
	color:black;
}	
	
.text_bouton:hover{
color:red;
}

/* Insch bouton about sa mere */
												/* On montre le premier texte */
												.text-base{
													opacity:1;
													font-family:helvetica;
													font-size:15px;
													padding-left:5px;
													padding-top:3px;
													color:black;
												}
												/* On cache le second texte */
												.text-hover{
												   display:none;
												   font-family:helvetica;
													font-size:15px;
													padding-left:5px;
													padding-top:3px;
													color:black;
												}
												/* On fait disparaitre le premier texte au passage de la souris. */
												.button:hover span.text-base{
												   opacity:0;
												   z-index:10;
												}
												/* On fait apparaitre le second texte au passage de la souris. */
												.button:hover span.text-hover{
												   display:inherit;
												   position:absolute;
												   width:170px;
												}
												#text_bouton1:hover{
												color:red;
												}
												#text_bouton2:hover{
												color:red;
												}
												#text_bouton1{
													margin-top:16px;
													z-index:9;
													height:30px;
												}
												#text_bouton2{
													margin-top:25px;
													z-index:10;
												}
												.button{
												margin-left:18%;
												margin-top:-55px;
												height:35px;
												position:absolute;
												}			

#bouton_lineup{
margin-left:28%;
margin-top:-55px;
width:60px;
position:absolute;
}

#bouton_projects{
margin-left:40%;
width:75px;
margin-top:-55px;
overflow:hidden;
height:50px;
position:absolute;
}

#bouton_projects:hover{
height:100px;
}

#bouton_sponsors{
margin-left:52%;
margin-top:-55px;
width:95px;
position:absolute;
}

#bouton_gallery{
margin-left:64%;
margin-top:-55px;
width:95px;
position:absolute;
}

#bouton_news{
margin-left:76%;
margin-top:-55px;
width:65px;
position:absolute;
}

#bouton_contact{
margin-left:88%;
margin-top:-55px;
width:95px;
position:absolute;
}

.fr{
margin-left:87.5%;
margin-top:10px;
position:absolute;
}
.en{
margin-left:92%;
margin-top:10px;
position:absolute;
}
#fr,#en,#slash{
font-family:helvetica;
font-size:14px;
color:white;
}
#fr:hover,#en:hover{
color:red;
}
.slash{
margin-left: 90.75%;
margin-top: 10px;
position:absolute;
}

/* Style entete FR */

#bouton_about_fr{
margin-left:18%;
width:70px;
margin-top:-55px;
overflow:hidden;
height:35px;
position:absolute;
}
#bouton_about_fr:hover{
height:80px;
width:80px;
}
.spaceport_fr{
margin-top:-15px;
margin-left:5px;
}

#spaceport_fr{
color:black;
font-family:helvetica;
font-size:13px;
}	
#spaceport_fr:hover{
color:red;
}

#bouton_lineup_fr{
margin-left:28%;
margin-top:-55px;
width:60px;
position:absolute;
}

#bouton_projects_fr{
margin-left:40%;
width:70px;
margin-top:-55px;
overflow:hidden;
height:50px;
position:absolute;
}

#bouton_projects_fr:hover{
height:100px;
}

#bouton_sponsors_fr{
margin-left:52%;
margin-top:-55px;
width:90px;
position:absolute;
}

#bouton_gallery_fr{
margin-left:64%;
margin-top:-55px;
width:75px;
position:absolute;
}

#bouton_news_fr{
margin-left:76%;
margin-top:-55px;
width:65px;
position:absolute;
}

#bouton_contact_fr{
margin-left:88%;
margin-top:-55px;
width:95px;
position:absolute;
}
.id{						/* ça sert à rien non ?? */
margin-left:1000px;
}

/* Page Home */
#background_home{
background-image:url(../images/aleatoire/background_home.png); 
background-repeat:no-repeat; 
background-attachment:fixed;
background-color: black;
}

.logos_home{
margin-top:150px;
}

#logos_home{
width:35px; 
height:35px; 
margin-left:65px;
margin-bottom:10px;
}

.help_maxime{
border-style: solid;
border-color: white;
border-width:5px;
margin-top:-170px;
margin-left:68%;
width:200px;
position:absolute;
}
#help_maxime{
color: white;
font-family:helvetica;
font-size:16px;
font-weight:bold;
}
.sponsorus{
margin-top:0px;
margin-left:71%;
background-color:red;
width:150px;
border-style:solid;
border-color: white;
position:absolute;
}
#sponsorus{
color:white;
font-size:16px;
font-family:helvetica;
}

/* Page About */

.titre1_about{
margin-top:-280px;
margin-left:40%;
position:absolute;
}

#titres{
font-family:helvetica;
font-size:25px;
color:red;
font-weight: bold;
text-shadow: #FFFFFF 0.5px 0.5px, #FFFFFF -0.5px 0.5px, #FFFFFF -0.5px -0.5px, #FFFFFF 0.5px -0.5px;
}

.paragraphe1_about{
margin-left:20%;
margin-top:-200px;
margin-right:10%;
position:absolute;
}
#paragraphe1_about{
color:white;
font-family:helvetica;
font-size:15px;
}
.team_about{
margin-left:25%;
margin-top:200px;
position:absolute;
}
#team_about{
width:70%; 
height:auto;
}

.titre2_about{
margin-top:650px;
margin-left:25%;
margin-right:10%;
position:absolute;
}
.paragraphe2_about{
margin-left:15%;
margin-top:760px;
margin-right:50%;
position:absolute;
margin-bottom:20px;
}

.liensac2_about{
font-family:helvetica;
color:white;
margin-top:-10px;
}
.liensac2_about:hover{
color:red;
}

.fuseesac_about{
margin-left:55%;
margin-top:775px;
position:absolute;
}
#fuseesac_about{
width:80%; 
height:auto;
}

.paragraphe3_about{
color:white;
font-family:helvetica;
font-size:16px;	
margin-left:15%;
margin-right:40px;
margin-top:1520px;
position: absolute;
}

ul.a_about{
list-style-type: circle;
iteration:none;
}

#bullets{
color:white;
font-family:helvetica;
font-size:15px;
}

.maptitle{
margin-top:1950px;
margin-left:35%;
font-size:22px;
font-family:helvetica;
color:white;
position:absolute;
}

#map {
margin-top:2000px;
margin-left:10%;
height: 65%;
width: 85%;
position:absolute;
}

#mc_embed_signup{
margin-top:2550px;
width:100%;
height:200px;
position:absolute;
}

#mc_embed_signup_projects{
margin-top:1850px;
width:100%;
height:200px;
position:absolute;
}

#mc_embed_signup_projects_fr{
margin-top:1350px;
width:100%;
height:200px;
position:absolute;
}

#sentence_newsletter{
font-family:helvetica;
margin-left:10%;
color:red; 
font-size:22px;
text-align:center;
position:absolute;
}

#mce-email{
margin-left:10%;
margin-top:25px;
height:30px;
width:60%;
text-align:center;
font-size:18px;
position:absolute;
}
#mc-embedded-subscribe{
margin-left:75%;
margin-top:25px;
font-size:20px;
height:30px; 	
position:absolute;
}

/* Page About FR */

.fuseesac_about_fr{
margin-left:55%;
margin-top:775px;
position:absolute;
}

.paragraphe3_about_fr{
color:white;
font-family:helvetica;
font-size:16px;	
margin-left:15%;
margin-right:40px;
margin-top:1560px;
position: absolute;
}

/* Page Lineup - classes utilisés: cadre / names / namez/ roles / emails / deux / trois */

.titres_lineup{
margin-top:100px;
margin-left:15px;
}

#titre_team{
margin-top:200px;
font-family:helvetica;
font-size:32px;
color:white;
font-weight: bold;
}

#timeline_pic{
margin-top:10px;
margin-left: 8%; 
width:80%; 
height:auto;
position:absolute;
}
.carre1{
margin-top:46px; 
margin-left:25%; 
width:15%; 
height:auto;
position:absolute;
}
.carre2{
margin-top:46px; 
margin-left:55%; 
width:15%; 
height:auto;
position:absolute;
}
#teams_lineup:hover{
position:absolute; 
-webkit-transform: scale(1.3,1.3);
-moz-transform: scale(1.3,1.3);
-ms-transform: scale(1.3,1.3);
-o-transform: scale(1.3,1.3);
transform: scale(1.3,1.3);
z-index:10;
border: 5px solid rgba(255, 0, 0, 0.5);
}

.cadre{
margin-top:50px;
margin-left:15px;
width:1000px;
height:325px;
}

#cadre{
background-color:white;
width:250px;
height:325px;
border-radius:5px;
}

#photos_lineup{
width:60%; 
height:auto;
margin-left:50px;
margin-top:25px;
}
.names{
margin-top:25px;
font-family:helvetica;
font-size:25px;
color:black;
font-weight: bold;
font-style: italic;
}
.namez{ /* Pour les personnes qui ont des noms très longs */
margin-top:25px;
font-family:helvetica;
font-size:21px;
color:black;
font-weight: bold;
font-style: italic;
}
.roles{
margin-top:25px;
font-family:helvetica;
font-size:18px;
color:#525252;
}
.emails{
margin-top:-7px;
font-family:helvetica;
font-size:15px;
color:#525252;
}

.emails:hover{
color:red;
}
.deux{
margin-left:365px;
margin-top:-325px;
}
.trois{
margin-left:730px;
margin-top:-325px;
}

/* Page Projets */

.project_matterhorn_projects{
margin-top:250px;
margin-left:35%;
position:absolute;
}
.paragraphe1_projects{
margin-top:320px;
margin-left:10%;
color:white;
font-family:helvetica;
margin-right:100px;
position:absolute;
}

.a_projects{
margin-top:400px;
margin-right:40%;
margin-left:11%;
position:absolute;
}
ul.a_projects{
list-style-type:none;
}

.rocket_description_matt{
margin-left:70%;
margin-top:400px;
position:absolute;
}
#rocket_description_matt{
width:50px; 
height:900px;
}
.rocket_description_matt_fr{
margin-left:70%;
margin-top:400px;
position:absolute;
}
#rocket_description_matt_fr{
width:60px; 
height:550px;
}
.projecteiger_projects{
margin-top:1500px;
margin-left:37%;
position:absolute;
}
.projecteiger_projects_fr{
margin-top:1000px;
margin-left:37%;
position:absolute;
}
.prototype_projects{
color:white; 
font-size:23px; 
margin-left:20%;
position:absolute;
margin-top:1550px;
}
.prototype_projects_fr{
color:white; 
font-size:23px; 
margin-left:20%;
position:absolute;
margin-top:1050px;
}
#prototype_projects{
width:85%;
height:auto;
margin-left:7%;
position:absolute;
margin-top:1600px;
}
#prototype_projects_fr{
width:85%;
height:auto;
margin-left:7%;
position:absolute;
margin-top:1100px;
}

/* Page Sponsors noms utilisés: noms des logos / types / categories / separateur */

#background_sponsors{
background-image:url(../images/aleatoire/background_sponsors.png);
background-repeat:repeat-y;
background-color: white;
}

.types{
color:red;
font-family:helvetica;
font-size:30px;
margin-left:460px
}
.categories{
margin-top:100px;
width:1000px;
height:250px;
}
#separateurmain{
width:750px; 
height:auto;
margin-bottom: 30px;
margin-left: 7%;
}
.ruag{
width:350px; 
height:auto;
float:left;
margin-left:5%;
}
.separateur{
width:1000px;
height:280px;
}
.separateurgold{
	height: 350px;
}

#separateurgold{
width:750px; 
height:auto;
margin-bottom: 30px;
margin-left: 7%;
}
.sauber{
width:400px;
height:auto;
margin-top:17px;
margin-left:8%;
float:left
}
.apco{
width:270px;
height:auto;
margin-left:40px;
float:left;
}
.connova {
    width: 340px;
    height: auto;
    margin-left: 29%;
    margin-top: 20px;
}
#separateursilver{
width:750px; 
height:auto;
margin-bottom: 15px;
margin-left: 7%;}

.separateursilver {
	width: 1000px;
    height: 235px;
}


.separateurbronze{
	width: 1000px;
	height: 350px;
}

.separateurwhite{
	width:1000px;
	height:400px;
}

.separateursupports{
width:1000px;
height:500px;
}
.lemo{
    width: 350px;
    height: auto;
    margin-left: 3%;
}
.faulhaber{
	width: 400px;
    height: auto;
    margin-top: 41px;
    margin-left: 6%;
    float: left;
}
.innovaud{
margin-left:100px;
margin-top:75px;
width:240px; 
height:100px;
}
.forumepfl{
width:375px; 
height:80px; 
margin-left:600px; 
margin-top:-100px;
}
.agepoly{
margin-left:86px;
width:320px; 
height:auto;
}
.conrad{
margin-left:75px;
width:320px; 
height:auto;
}
.montage{
	margin-left: 49%;
    margin-top: -65px;
    width: 336px;
    height: auto;
}
.bic{
width:350px;
height:100px;
margin-left:610px;
margin-top:-100px;
}
#separateurbronze{
width:750px; 
height:auto;
margin-bottom: 15px;
margin-left: 7%;
}
.swisstools{
margin-left:75px;
margin-top:50px;
width:350px;
height:50px;	
}
.suter{
margin-left:550px;
margin-top:-50px;
width:400px;
height:50px;
}
.kuehne{
margin-left:210px;
margin-top: 25px;
width:150px; 
height:auto;
}
.peacock{
margin-left:120px;
margin-top:30px;
width:250px; 
height:200px;
}
.kifa{
margin-left: 550px;
margin-top: -120px;
width:180px; 
height:auto;
}
.options{
margin-left:140px;
margin-top:20px;
width:250px; 
height:180px;
}
.chateau{
margin-left:610px;
margin-top:-150px;
width:350px; 
height:130px;
}
.mouser{
     margin-left: 5%;
    width: 190px;
    height: auto;
    margin-bottom: 14px;}

.obi{
	margin-left: 1%;
    width: 200px;
    height: auto;
    margin-bottom: 17px;
}
.rwc{
    margin-left: 9%;
    width: 344px;
    height: auto;
    margin-bottom: 15px;
}
.cosylab{
    margin-left: 30%;
    width: 302px;
    height: auto;
    margin-top: 26px;
}
.robopoly{
	margin-left: 16%;
    width: 234px;
    height: auto;
    margin-top: 15px;
}

.bioenno{
margin-left:370px;
margin-top:-70px;
width:250px; 
height:90px;
}
.maedler{
margin-left:720px;
margin-top:-100px;
width:150px; 
height:80px;
}
.hamamatsu{
margin-left:110px;
margin-top:60px;
width:450px; 
height:80px;
margin-left:2%;
}
.swaytronic{
margin-left:350px;
margin-top:-80px;
width:200px; 
height:70px;
}
#separateursupports{
width:750px; 
height:auto;
margin-bottom: 25px;
margin-left: 7%;
}
.espace{
margin-left:40px;
width:350px; 
height:auto;
float:left;
}
.epflsup{
margin-left:7%;
width:180px; 
height:auto;
}
.heig{
margin-left:40px;
margin-top:7px;
width:230px; 
height:auto;
}
.swissspacecenter{
margin-left:40px;
margin-top:9px;
width:270px; 
height:auto;
}
.lmaf{   
    margin-left: 7%;
    width: 180px;
    height: auto;
    margin-top: 50px;
}
.mag{
	margin-left: 5%;
    width: 225px;
    height: auto;
}
.lpac{
	margin-left: 7%;
    width: 195px;
    height: auto;
}
.sectionphysique{
	margin-left: 30%;
    width: 235px;
    height: auto;
    margin-top: 17px;

/* Page News */

.decal_fb{
margin-left:12%;
height:auto;
position:absolute;
}

.fb-page,.fb-root{
margin-top:100px;
margin-left:10%;
}

/* Page Gallery */

.gallery_pics{
display:none;
}
.check_insta{
margin-left:2%;
margin-top:100px;
position:absolute;
}
#check_insta{
color:white;
font-size:25px;
font-family:helvetica;
}
/* Page Contact */

.title_contact{
font-family:helvetica;
font-size:25px;
color:#DCDCDC;
margin-top:100px;
position:absolute;
margin-left:18%;
}

.title_contact_fr{
font-family:helvetica;
font-size:25px;
color:#DCDCDC;
margin-top:100px;
position:absolute;
margin-left:30%;	
}

#div_formulaire{
margin-top:180px;
}

.noms_contact{
font-family:helvetica;
font-size:20px;
color:#AFAFAF;
margin-left:8%;
}
.boites_contact{
height:40px;
margin-left:8%;
background-color:transparent;
border-width:1px;
color:white;
font-size:20px;
width:78%;
margin-right:8%;
}
.option_contact{
background-color:black;	
margin-top:-15px;
margin-left:8%;
border-width:1px;
color:white;
font-size:20px;
width:78%;
}
.send_contact{
margin-left:8%;
margin-top:30px;
width:78%;
background-color:#DE3F3F;
color:white;
font-size:20px;
border-width:1px;
height:40px;
}






.version_mobile{
display:none;
}
